.p3{
  color: purple;
  text-decoration: underline;
}


.highlight3{
  color: blue;
}


.building3{
  color: purple;
}


.externalH2{
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

/* NEW h4 - external (Purple, Italics) */
.externalH4{
  color: purple;
  font-style: italic;
}
